/*Auxiliaries*/


:root {
  --color-greenaqua: #38af90;
  --color-pink: #dd7e92;
  --color-white: #f0f0f0;
  --color-gray: #797979;
  --color-wheitemais: #ffffff;
  --color-bodyy:#E5E5E5;
}


.fonte {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
}
.fonte-main {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

 a,
  a:hover {
    text-decoration: none;
    display: flex;
}


hr {
  width: 275.76px;
  height: 3px;
  margin-top: -7px;
  border: 1px;
  color: var(--color-greenaqua);
}

.link-to-read {
  width: 272px;
  height: 21px;
  font-size: 14px;

  color: var(--color-pink);
}

.img-sections-games{
  width: 300px;
height: 168.54px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

.rectangle-games-white{
width: 300px;
height: 326px;
align-items: center;
box-shadow: 0px 4px 20px;
margin-left: 10px;
margin-bottom: 20px;
background: var(--color-wheitemais);
border-radius: 8px;
}

.title-img-games{
width: 220px;
height: 27px;
font-size: 18px;
line-height: 27px;
display: flex;
padding-top: 30px;
margin-left: 40px;
align-items: center;
text-align: center;

color: var(--color-gray)

}

.linkstyle-games{
width: 207px;
height: 21px;
font-size: 14px;
margin-left: 20px;
display: flex;
align-items: center;
text-align: center;
}

.palavra-outra-cor{
  color: var(--color-greenaqua);
  margin-right: 1px;
}

.title-evaluation{
  
width: 52px;
height: 54px;
font-size: 36px;
display: flex;
align-items: center;
text-align: center;
margin: 30px 0 124px 120px;
color: var(--color-greenaqua);
}






/*header*/

header {
  background: var(--color-greenaqua);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--color-wheitemais);
  margin: 0 10px 0 0;
}
.title-header {
  font-size: 18px;
  display: flex;
  align-items: center;

  color: var(--color-wheitemais);
}
.DS-mabol {
  width: 131px;
  height: 27px;
  margin: 32px 10px 31px 179px;
  color: var(--color-wheitemais);
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 8px;

  display: flex;
  list-style-type: none;
  color: var(--color-wheitemais);
}

.avatar {
  width: 62px;
  height: 62px;
  margin: 0 auto;
  border-radius: 75px;
}
.nav-container {
  width: 320px;
  height: 90px;
  display: flex;
  align-items: center;
}

/*main*/

.titlemain {
  width: 202px;
  height: 36px;
  font-size: 24px;
  margin: 40px 60px 100px 550px;
  text-align: center;

  color: var(--color-gray);
}
.rectangle-1 {
  width: 300px;
  height: 493px;
  margin: -94px 0 0 500px;
  background: var(--color-white);
  border-radius: 8px;
}
.rectangle-2{
  width: 300px;
  height: 493px;
  margin:  28px 0 0 500px;
  background: var(--color-white);
  
  border-radius: 8px;}

.title-news {
  width: 275px;
  height: 24px;
  font-size: 16px;

  padding: 10px;
  color: var(--color-greenaqua);
}
.title-div-news {
  width: 274.85px;
  height: 54px;
  font-size: 12px;
  margin: 4px 0 0 10px;

  color: var(--color-grey);
}

.date {
  width: 274.85px;
  height: 15px;
  margin: -10px 0 0 10px;

  color: var(--color-greenaqua);
}
.news {
  width: 276px;
  height: 329px;
  padding: 10px;
  color: var(--color-gray);
}
.button-load{
  width: 244px;
height: 67px;
display: flex;
align-items: center;
text-align: center;
margin-left: 40px;
margin-top: 100px;
background: var(--color-pink);
border-radius: 8px;
}
.letter{
width: 135px;
height: 27px;
font-size: 18px;
margin-left: 40px;
color: var(--color-wheitemais);
}

/*section - 2 */

.rectangle-gray{
width: 320px;
height: 1176px;
top: 1323px;
margin: 130px 0 0 490px;

background: var(--color-white);
}
.title-games{
  width: 75px;
  height: 36px;
  font-size: 24px;
  text-align: center;
  margin: 0 28px 160px 123px ;
padding-top: 30px;
  color: var(--color-greenaqua)

}
/*section-inscrição*/
.inscrição{
 
width: 231px;
height: 36px;
font-size: 24px;
margin: 0 0 40px 540px ;
padding-top: 30px;
text-align: center;
color:var(--color-gray);
}