/*Auxiliaries*/

:root {
  --color-greenaqua: #38af90;
  --color-pink: #dd7e92;
  --color-white: #f0f0f0;
  --color-gray: #797979;
  --color-wheitemais: #ffffff;
  --color-bodyy: #e5e5e5;
}

.fonte {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
}
.fonte-main {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
.fonte-plataforma {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--color-gray);
}
 
a,
a:hover {
  text-decoration: none;
  display: flex;
}

hr {
  width: 275.76px;
  height: 3px;
  margin-top: -7px;
  border: 1px;
  color: var(--color-greenaqua);
}

.link-to-read {
  width: 272px;
  height: 21px;
  font-size: 14px;

  color: var(--color-pink);
}

.img-sections-games {
  width: 300px;
  height: 168.54px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rectangle-games-white {
  width: 300px;
  height: 326px;

  box-shadow: 0px 4px 20px;
  margin-top: -100px;
  margin-left: 5px;
  margin-bottom: 120px;
  background: var(--color-wheitemais);
  border-radius: 8px;
}

.rectangle-gray {
  width: 320px;
  height: 1176px;
  margin: 130px 0 0 10px;

  background: var(--color-white);
}
.rectangle-plataforma {
  width: 280px;
  height: 50px;
  background: var(--color-wheitemais);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  margin: 30px 0 0 10px;
  border-radius: 4px;
}

.title-img-games {
  width: 220px;
  height: 27px;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  margin-top: 20px;
  margin-left: 40px;

  color: var(--color-gray);
}

.linkstyle-games {
  width: 207px;
  height: 21px;
  font-size: 14px;
}

.palavra-outra-cor {
  margin-left: 40px;

  color: var(--color-greenaqua);
}

.title-evaluation {
  width: 52px;
  height: 54px;
  font-size: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0 124px 115px;
  color: var(--color-greenaqua);
}

.style-radio-button{
  width: 23px;
  height: 23px;
  margin-top: 22px;
  background: #FFFFFF;
  border: 1px solid #999999;
  box-sizing: border-box;
}

/*header*/

header {
  background: var(--color-greenaqua);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--color-wheitemais);
  margin: 0 10px 0 0;
}
.title-header {
  font-size: 18px;
  display: flex;
  align-items: center;

  color: var(--color-wheitemais);
}
.DS-mabol {
  width: 131px;
  height: 27px;
  margin: 32px 10px 31px 20px;
  color: var(--color-wheitemais);
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 8px;

  display: none;
  list-style-type: none;
  color: var(--color-wheitemais);
}

.avatar {
  width: 62px;
  height: 62px;
  margin-left: 75px;
  border-radius: 75px;
}
.nav-container {
  width: 320px;
  height: 90px;
  display: flex;
  align-items: center;
}

/*main*/

.titlemain {
  width: 202px;
  height: 36px;
  font-size: 24px;
  margin: 40px 60px 100px 55px;
  text-align: center;

  color: var(--color-gray);
}
.rectangle-1 {
  width: 300px;
  height: 493px;
  margin: -94px 0 0 12px;
  background: var(--color-white);
  border-radius: 8px;
}
.rectangle-2 {
  width: 300px;
  height: 540px;
  margin: 20px 0 0 12px;
  background: var(--color-white);

  border-radius: 8px;
}

.title-news {
  width: 275px;
  height: 24px;
  font-size: 16px;

  padding: 10px;
  color: var(--color-greenaqua);
}
.title-div-news {
  width: 274.85px;
  height: 54px;
  font-size: 12px;
  margin: 4px 0 0 10px;

  color: var(--color-grey);
}

.date {
  width: 274.85px;
  height: 15px;
  margin: -10px 0 12px 10px;

  color: var(--color-greenaqua);
}
.news {
  width: 276px;
  height: 329px;
  margin: 12px 12px 33px 12px;
 
  color: var(--color-gray);
}
.button-load {
  width: 244px;
  height: 67px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  margin-top: 150px;
  background: var(--color-pink);
  border-radius: 8px;
}
.letter {
  width: 135px;
  height: 27px;
  font-size: 18px;
  margin-left: 60px;
  color: var(--color-wheitemais);
}

/*section - 2 */

.title-games {
  width: 75px;
  height: 36px;
  font-size: 24px;
  text-align: center;
  margin: 0 28px 160px 118px;
  padding-top: 30px;
  color: var(--color-greenaqua);
}
/*section-inscrição*/
.rectangle-placeholder {
  width: 300px;
  height: 603px;
margin-left: 10px;
  background: var(--color-white);
  border-radius: 8px;
}

.inscrição {
  width: 231px;
  height: 36px;
  font-size: 24px;
  margin: 10px 0 40px 30px;
  padding-top: 30px;
  text-align: center;
  color: var(--color-gray);
}
.plataforma-preferida {
  width: 253px;
  height: 24px;
margin-top: 12px;


}

.radio-pc {
  width: 22px;
  height: 24px;
 margin: 25px 30px 0 10px;
}

.radio-xbox {
  width: 39px;
  height: 24px;
}
.radio-playstation {
  width: 89px;
  height: 24px;
}
